absl-py==1.4.0
addict==2.4.0
aiocache==0.12.1
aiodns==3.0.0
aiofile==3.8.5
aiofiles==22.1.0
aiohttp==3.8.4
aiomysql==0.1.1
aiosignal==1.3.1
aiosqlite==0.17.0
alembic==1.10.4
anyio==3.6.2
appdirs==1.4.4
APScheduler==3.10.1
argcomplete==3.0.8
arrow==1.2.3
async-timeout==4.0.2
asyncer==0.0.2
asyncio==3.4.3
asyncpg==0.27.0
attrs==23.1.0
basicsr==1.4.2
bbcode==1.1.0
beautifulsoup4==4.12.2
binaryornot==0.4.4
bleach==6.0.0
Brotli==1.0.9
bs4==0.0.1
cachetools==5.3.1
caio==0.9.12
cashews==6.1.0
cattrs==23.1.2
cchardet==2.1.7
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
chess==1.9.4
click==8.1.3
cn2an==0.5.19
colorama==0.4.6
contourpy==1.0.7
cookiecutter==2.1.1
cryptography==40.0.2
cssselect==1.2.0
cycler==0.11.0
Cython==0.29.34
dateparser==1.1.8
DateTime==5.1
decorator==5.1.1
deep-translator==1.11.1
diro-py==0.1.1
distlib==0.3.6
docutils==0.20
efinance==0.5.0
elf-rss==2.6.19
emoji==2.5.0
exceptiongroup==1.1.1
expiringdict==1.2.2
facexlib==0.3.0
faiss-cpu==1.7.4
fake-useragent==1.1.3
fastapi==0.95.1
feedparser==6.0.10
ffmpy==0.3.0
filelock==3.12.0
filetype==1.2.0
filterpy==1.4.5
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.5.0
future==0.18.3
gfpgan==1.3.8
google-auth==2.17.3
google-auth-oauthlib==1.0.0
gradio_client==0.2.4
greenlet==2.0.1
grpcio==1.54.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.2
httptools==0.5.0
httpx==0.24.1
huggingface-hub==0.14.1
hyperframe==6.0.1
icmplib==3.0.3
icrawler==0.6.6
idna==3.4
ImageHash==4.3.1
imageio==2.28.1
importlib-metadata==6.6.0
importlib-resources==5.12.0
iso8601==1.1.0
jaraco.classes==3.2.3
jieba==0.42.1
Jinja2==3.1.2
jinja2-time==0.2.0
joblib==1.2.0
jsonpath==0.82
keyring==23.13.1
kiwisolver==1.4.4
lagrange==2.0.2
lazy_loader==0.2
llvmlite==0.40.0
lmdb==1.4.1
loguru==0.6.0
lxml==4.9.2
magneturi==1.3
mahjong-utils==0.4.3
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mdurl==0.1.2
meme-generator==0.0.13
midi2audio==0.1.1
mido==1.2.10
MonthDelta==0.9.1
more-itertools==9.1.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multitasking==0.0.11
nb-cli==1.1.2
ndg-httpsclient==0.5.1
networkx==3.1
nonebot-adapter-onebot==2.2.3
nonebot-plugin-abstract==1.0.6
nonebot-plugin-apscheduler==0.2.0
nonebot-plugin-arcaeabot @ file:///C:/Users/Demo/Downloads/nonebot_plugin_arcaeabot-3.1.15-py3-none-any.whl#sha256=baef654d2ab0986810a5c52e739c900ec11cc19a76c3260c97e2cc932d0a3c24
nonebot-plugin-bilibilibot @ file:///C:/Users/Demo/Downloads/nonebot_plugin_bilibilibot-2.3.2-py3-none-any.whl#sha256=da4d1b18ef15c6eddabb60099b287d1b16b4a872d641afb466054b61555999f4
nonebot-plugin-boardgame==0.2.1
nonebot-plugin-cchess==0.2.2
nonebot-plugin-chatpdf @ file:///C:/Users/Demo/Downloads/nonebot_plugin_chatpdf-0.4.0-py3-none-any.whl#sha256=88f7574aee458a98bfa0929e196cb517b2498c70d4d240b5b88fa101bca4c515
nonebot-plugin-chatppt==0.1.1
nonebot-plugin-chess==0.3.1
nonebot-plugin-cocdicer==0.4.0
nonebot-plugin-datastore==0.6.3
nonebot-plugin-fortune==0.4.10.post2
nonebot-plugin-guild-patch==0.2.3
nonebot-plugin-heweather==0.6.8
nonebot-plugin-hikarisearch==0.1.7
nonebot-plugin-htmlrender==0.2.1
nonebot-plugin-imagetools==0.2.1
nonebot-plugin-imageutils==0.1.17
nonebot-plugin-localstore==0.4.1
nonebot-plugin-mahjong-utils==0.2.7
nonebot-plugin-majsoul==0.1.4
nonebot-plugin-manga-translator==0.1.2
nonebot-plugin-memes==0.4.6
nonebot-plugin-minesweeper==0.2.0
nonebot-plugin-miragetank==0.1.3
nonebot-plugin-ocgbot-v2==0.2.1
nonebot-plugin-osubot==2.0.3
nonebot-plugin-p5generator @ file:///C:/Users/Demo/Downloads/nonebot_plugin_p5generator-0.1.1-py3-none-any.whl#sha256=44c897289fc0a1e50d7e29a15d74fb271b851dd14e122f0dcf88e6d3966f4bac
nonebot-plugin-petpet==0.3.21
nonebot-plugin-randomtkk==0.1.5.post1
nonebot-plugin-reboot==0.1.4
nonebot-plugin-remake==0.2.7
nonebot-plugin-send-anything-anywhere==0.2.4
nonebot-plugin-sky==2.2.7
nonebot-plugin-tortoise-orm==0.0.1a3
nonebot-plugin-txt2img==0.3.1
nonebot2==2.0.0
noneprompt==0.1.9
numba==0.57.0
numpy==1.24.0
oauthlib==3.2.2
openai==0.27.6
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
osrparse==5.0.0
packaging==23.1
pandas==2.0.1
parse==1.19.1
peewee==3.16.2
picimagesearch==3.9.0
pikpakapi==0.1.1
pil-utils==0.1.7
Pillow==9.5.0
pinyin==0.4.0
pipx==1.2.0
pkginfo==1.9.6
platformdirs==2.6.2
playwright==1.33.0
praat-parselmouth==0.4.3
proces==0.1.4
prompt-toolkit==3.0.38
protobuf==4.23.0
psola==0.0.1
psutil==5.9.5
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycares==4.3.0
pycparser==2.21
pydantic==1.10.9
pydub==0.25.1
pyee==9.0.4
pyenchant==3.2.2
pyfiglet==0.8.post1
Pygments==2.15.1
pygtrie==2.5.0
pymdown-extensions==9.11
PyMuPDF==1.22.3
PyMySQL==1.0.3
pyncm==1.6.8.9.1
pyopenjtalk==0.3.0
pyOpenSSL==23.1.1
pypar==0.0.4
pyparsing==3.0.9
pypika-tortoise==0.1.6
pypinyin==0.48.0
pypng==0.20220715.0
pyppeteer==1.0.2
pyquery==2.0.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-markdown-math==0.8
python-multipart==0.0.5
python-pptx==0.6.21
python-qbittorrent==0.4.3
python-slugify==8.0.1
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pywin32-ctypes==0.2.0
PyYAML==6.0
qrcode==7.4.2
readme-renderer==37.3
realesrgan==0.3.0
reamber==0.1.7
regex==2023.5.5
requests==2.30.0
requests-html==0.10.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
retry==0.9.2
retrying==1.3.4
rfc3986==1.5.0
rich==13.3.5
rosu-pp-py==0.9.1
rsa==4.9
ruamel.yaml==0.17.26
ruamel.yaml.clib==0.2.7
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
seqeval==1.2.2
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.4.1
SQLAlchemy==2.0.12
starlette==0.26.1
StrEnum==0.4.10
stringcase==1.2.0
sympy==1.11.1
tb-nightly==2.14.0a20230509
tenacity==8.2.2
tensorboard-data-server==0.7.0
text-unidecode==1.3
threadpoolctl==3.1.0
tifffile==2023.4.12
tiktoken==0.4.0
tinydb==4.7.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
torch==1.13.1+cu117
torchaudio==0.13.1
torchvision==0.14.1+cu117
tortoise-orm==0.19.3
tqdm==4.65.0
twine==4.0.2
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
ujson==5.7.0
Unidecode==1.3.6
urllib3==1.26.16
userpath==1.8.0
uvicorn==0.22.0
virtualenv==20.17.1
w3lib==2.1.1
watchfiles==0.19.0
wcwidth==0.2.6
webencodings==0.5.1
websockets==10.4
Werkzeug==2.3.4
win32-setctime==1.1.0
XlsxWriter==3.1.0
yapf==0.33.0
yarl==1.9.2
zipp==3.15.0
zope.interface==6.0
